@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: "otra";
  src: url('../fonts/otra.ttf');
}

body {
  background-color: $off-white;
}
.tbar {
  width: 100%;
  height: 100px;
  font-family: otra;
  font-size: 80px;
  background-color: $primary;
  color: white;
}

.banner {
  height: 520px;
  overflow: hidden;
}

.bannerpic {
  width: 100%;
}

.aboutme {
  width: 100%;
}

.abouth1 {
  width: 100%;
  height: 100px;
  font-family: otra;
  font-size: 60px;
  background-color: $primary;
  color: white;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Carousel base class */
.carousel {
  margin-bottom: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


//album
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  @include media-breakpoint-up(sm) { font-size: 16px; }
  @include media-breakpoint-up(md) { font-size: 20px; }
  @include media-breakpoint-up(lg) { font-size: 24px; }
  font-size: 14px;
}

// Use Sass inheritance / @extend directive to include some default bootstrap
// classes as part of the definition for our custum class.
.header-subtle {
  @extend .text-warning;
  @extend .text-uppercase;
  font-size: 1.2rem;
  letter-spacing: .12em;
  opacity: .6;
}
