@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: "otra";
  src: url('../../fonts/otra.ttf');
}

body {
  background-color: $off-white;
}

.tbar {
  width: 100%;
  height: 100px;
  font-family: otra;
  font-size: 80px;
  background-color: $primary;
  color: white;
}

.tbar h1 {
  font-family: otra;
}

.namelogo {
  height: 85%;
  width: auto;
  padding-bottom: 10px;
  margin-top: -12px;
}

.banner {
  height: 520px;
  overflow: hidden;
}

.bannerpic {
  width: 100%;
}

.aboutme {
  width: 100%;
}

.abouth1 {
  width: 100%;
  height: 100px;
  font-family: otra;
  font-size: 60px;
  background-color: $primary;
  color: white;
}

.abouth1 div {
  color: $secondary;
}


.iconcards .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.iconcards h2 {
  font-weight: 400;
}
.iconcards .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-caption h1 {
  text-shadow: 1px 1px 2px black;
}



/***************** START OF GALLERY CSS *******/

.gallery {
    display: flex;
    max-width: 100%;
    margin: 5px auto;
    margin-bottom: 0;
    padding: 0 10px;
    flex-wrap: wrap;
    align-items: center;
    background-color: $primary
}

.image {
    width: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    box-shadow: 0 3px 10px 2px black;
    transition: 0.3s;

}

.image:hover {
    transform: scale(1.02);
}

img {
    border-style: none;
}

.social {
  background-color: $primary;
}

h4 {
  color: white;
}

.social-icons {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  margin-left: -20px;
}

.social-icons li {
  display: inline;
  margin: 0 auto;
  color: white;
  list-style: none;
}

.social-icon {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-link:hover {
  text-decoration: none;
  color: $secondary;
}

a:hover {
  text-decoration: none;
  color: $secondary;
}



footer {
    height: 70px;
    background: $primary;
    color: white;
}


// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  @include media-breakpoint-up(sm) { font-size: 16px; }
  @include media-breakpoint-up(md) { font-size: 20px; }
  @include media-breakpoint-up(lg) { font-size: 24px; }
  font-size: 14px;
}

// Use Sass inheritance / @extend directive to include some default bootstrap
// classes as part of the definition for our custum class.
.header-subtle {
  @extend .text-warning;
  @extend .text-uppercase;
  font-size: 1.2rem;
  letter-spacing: .12em;
  opacity: .6;
}
